<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LEKHA | Features</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Work Sans", sans-serif;
      }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              lblue: "#0000ff",
              lbg1: "#c1cfca",
              lbg1hover: "#9dbbb0",
              lbg2: "#e7e0c9",
            },
          },
        },
      };
    </script>
  </head>
  <body>
    <div class="h-screen w-screen overflow-auto">
      <!-- Header -->
      <nav
        class="py-2 px-8 text-black flex items-center justify-between flex-wrap bg-white fixed w-full z-40 top-0 border-b"
      >
        <div class="block lg:hidden flex flex-row w-full justify-between">
          <button id="nav-toggle" class="flex items-center py-2 text-gray-500">
            <svg
              class="fill-black h-3 w-3"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>Menu</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
            </svg>
          </button>
          <a href="/" class="text-lg font-medium">LEKHA</a>
        </div>

        <div
          class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block pt-6 lg:pt-0"
          id="nav-content"
        >
          <a href="/" class="text-lg font-medium hidden lg:block">LEKHA</a>
          <ul class="list-reset lg:flex justify-end flex-1 items-center">
            <li class="text-sm">
              <a
                class="inline-block py-2 px-0 lg:px-4 text-black no-underline"
                href="/features/"
                >Features</a
              >
            </li>
            <li class="text-sm">
              <a
                class="inline-block text-black no-underline py-2 px-0 lg:px-4"
                href="/contact/"
                >Contact</a
              >
            </li>
            <li class="text-sm">
              <button
                type="button"
                class="w-full inline-flex justify-center py-2 px-4 bg-white sm:w-auto border sm:border-none"
                onclick=""
              >
                Log In
              </button>
            </li>
            <li class="text-sm">
              <button
                type="button"
                class="w-full inline-flex justify-center px-4 py-2 bg-lblue hover:bg-black text-white sm:w-auto"
                onclick=""
              >
                Get Started
              </button>
            </li>
          </ul>
        </div>
      </nav>
      <script>
        //JS to toggle the menu
        document.getElementById("nav-toggle").onclick = function () {
          document.getElementById("nav-content").classList.toggle("hidden");
        };
      </script>
      <div class="px-8 pt-16 text-xl sm:text-4xl">The Features Page</div>
    </div>
  </body>
</html>
