<html lang="en">
  <head>
    <style>
      .accordion {
        background-color: lbg1;
        border-bottom: 1px solid #c1cfca;
        color: #000;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        outline: none;
        transition: 0.4s;
      }

      .accordion:after {
        content: "\002B";
        color: #0000ff;
        float: right;
        margin-left: 5px;
      }

      .active:after {
        content: "\2212";
      }

      .panel {
        color: #5e5e5e;
        padding: 10px 18px 0px 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
      }
    </style>
  </head>
</html>
{% extends 'navbar.html' %} {% block content %}
{% load static %}
<!-- Hero Section -->
<div class="flex flex-col-reverse md:flex-row pt-8">
  <div
    class="w-full md:w-1/2 flex flex-col space-y-4 md:justify-between p-8"
  >
    <div class="text-xl sm:text-4xl font-medium">
      Welcome to LEKHA — an archival platform for artists, by artists
    </div>
    <div class="text-md sm:text-lg font-regular">
      Create an archive and share your work with the world, or keep it
      private. It’s up to you!
    </div>
    <a
      type="button"
      class="w-full inline-flex justify-center px-4 py-4 bg-lblue hover:bg-black text-white font-medium sm:w-auto text-md sm:text-lg"
      onclick=""
      href="/features/"
    >
      Learn more about Lekha&nbsp;→
    </a>
  </div>
  <div class="w-full md:w-1/2">
    <img
      class="w-full h-full object-cover"
      src="{% static 'main/heroImage.jpg' %}"
    />
  </div>
</div>

<!-- Featured Archives -->
<div class="w-full bg-black">
  <div
    class="flex flex-row p-8 w-full justify-between items-end sm:items-center"
  >
    <div class="text-xl sm:text-4xl text-white">
      See Featured Archives
    </div>
    <div class="flex flex-row space-x-4 text-white">
      <div class="cursor-pointer" id="prev" onclick="carouselPrev()">
        ᐊ
      </div>
      <div class="cursor-pointer" id="next" onclick="carouselNext()">
        ᐅ
      </div>
    </div>
  </div>
  <div class="flex flex-col-reverse sm:flex-row p-8 pt-0">
    <div
      class="w-full sm:w-1/2 flex flex-col space-y-4 sm:justify-between p-8 bg-white"
    >
      <div class="flex flex-col space-y-6">
        <div class="flex flex-col space-y-1">
          <div
            class="text-xl sm:text-2xl font-regular"
            id="featuredName"
          ></div>
          <div
            class="text-sm sm:text-md font-regular"
            id="featuredWork"
          ></div>
        </div>
        <div
          class="hidden sm:block text-xs text-justify font-regular"
          id="featuredDescription"
        ></div>
      </div>
      <button
        type="button"
        class="w-full inline-flex justify-center px-4 py-2 bg-lblue hover:bg-black text-white font-medium sm:w-auto text-md sm:text-lg"
        onclick=""
      >
        Visit Archive&nbsp;→
      </button>
    </div>
    <div class="w-full sm:w-1/2">
      <img
        id="featuredImage"
        class="w-full h-64 sm:h-96 object-cover"
        src=""
      />
    </div>
  </div>
</div>

<!-- Create your own archive -->
<div class="w-full bg-lbg1">
  <div class="p-8 flex flex-col">
    <div class="text-center text-xl sm:text-4xl">
      Create your own archive
    </div>
    <div class="text-center text-md">
      See what LEKHA can help you do&nbsp;→
    </div>
  </div>
  <div
    class="p-8 pt-0 grid gap-12 grid-cols-1 lg:grid-cols-4 md:grid-cols-2"
  >
    <div class="w-full flex flex-col space-y-4">
      <div class="flex flex-col space-y-2">
        <img
          class="h-14 w-14"
          src="{% static 'main/i1.png' %}"
        />
        <div class="text-xs font-medium text-justify">
          LEKHA supports the archival needs of all kinds of arts & culture
          practitioners.
        </div>
      </div>
      <div class="text-xs font-regular text-justify">
        Be it videos, images, sound or text, LEKHA allows you to upload
        files across a range of file formats. A familiar file-browser
        interface also makes it painless to organise your files and
        folders.
      </div>
    </div>
    <div class="w-full flex flex-col space-y-4">
      <div class="flex flex-col space-y-2">
        <img
          class="h-14 w-14"
          src="{% static 'main/i2.png' %}"
        />
        <div class="text-xs font-medium text-justify">
          Create a universally-readable archive of your files, giving them
          context and meaning.
        </div>
      </div>
      <div class="text-xs font-regular text-justify">
        Files in archives often require some basic metadata. LEKHA lets
        you add that information quickly and accurately using
        globally-recognized standards. Choose from a range of presets, or
        create your own custom tags and descriptors.
      </div>
    </div>
    <div class="w-full flex flex-col space-y-4">
      <div class="flex flex-col space-y-2">
        <img
          class="h-14 w-14"
          src="{% static 'main/i3.png' %}"
        />
        <div class="text-xs font-medium text-justify">
          Join LEKHA's community of public archives, or keep it private
          for your own use.
        </div>
      </div>
      <div class="text-xs font-regular text-justify">
        Whether you want to make a public archive to share your work, or a
        private archive to manage and track works for yourself, LEKHA
        makes it easy to present all your work online in one place.
      </div>
    </div>
    <div class="w-full flex flex-col space-y-4">
      <div class="flex flex-col space-y-2">
        <img
          class="h-14 w-14"
          src="{% static 'main/i4.png' %}"
        />
        <div class="text-xs font-medium text-justify">
          Securely store and organise files of your works.
        </div>
      </div>
      <div class="text-xs font-regular text-justify">
        Securely store your important work files with military grade AES
        256 standard encryption.
      </div>
    </div>
  </div>
</div>

<!-- Why use Lekha? -->
<div class="w-full bg-white">
  <div class="p-8 flex flex-col">
    <div class="text-center text-xl sm:text-4xl">Why use LEKHA?</div>
    <div class="text-center text-md">
      Find out how it's built to suit your needs&nbsp;→
    </div>
  </div>
  <div class="flex flex-col-reverse sm:flex-row">
    <div
      class="hidden sm:block sm:w-1/2 sm:h-96 p-8"
      style="background-color: #f5a831"
    >
      <img
        class="w-full object-cover"
        src="{% static 'main/speculativeDashboard.jpg' %}"
      />
    </div>
    <div class="w-full sm:w-1/2 p-8">
      <button class="accordion text-sm">
        What makes LEKHA different from other CMSs and portfolio builders?
      </button>
      <div class="panel text-xs">
        <p>
          LEKHA lets you design and build archives. It allows you to add
          comprehensive metadata to all your files. It also allows you to
          exhibit your archives and find a broader audience for your
          collections. If you chose to keep your files and archives
          private, it allows you to do that in a secure manner. In short,
          it lets anyone not just professional archivist make archives.
        </p>
      </div>

      <button class="accordion text-sm">
        Is LEKHA only for artists?
      </button>
      <div class="panel text-xs">
        <p>
          No. LEKHA was built by artists with a concern for making
          archives easy to use. You don't have to be a rocket scientist to
          build an archive anymore. However, even rocket scientists are
          free to build archives on LEKHA. LEKHA is for anyone who wants a
          digital archive. This could be institutions, collectives,
          collectors, museums.
        </p>
      </div>

      <button class="accordion text-sm">How much does it cost?</button>
      <div class="panel text-xs">
        <p>
          LEKHA is currently free while we run our beta tests. If you
          would like to contribute to the development of LEKHA, please get
          in touch with us through the contact page.
        </p>
      </div>

      <button class="accordion text-sm">
        Who owns the uploaded files?
      </button>
      <div class="panel text-xs">
        <p>
          You own the files. The entity that uploads files on LEKHA owns
          the files. LEKHA does not own any of the files that are
          archived.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- How will you use Lekha? -->
<div class="w-full bg-white">
  <div class="p-8 flex flex-col">
    <div class="text-center text-xl sm:text-4xl">
      How will you use LEKHA?
    </div>
    <div class="text-center text-md">
      Lekha is built to suit the needs of individuals as well as
      institutions
    </div>
  </div>
  <div
    class="p-8 md:px-20 lg:px-48 pt-0 grid gap-6 grid-cols-1 md:grid-cols-2"
  >
    <div
      class="w-full flex flex-col space-y-4 justify-between bg-lbg2 p-8"
    >
      <div class="flex flex-col space-y-2">
        <div class="text-md font-medium">
          As an Individual or a Collective
        </div>
        <img
          class="w-full"
          src="{% static 'main/asAnIndividual.jpg' %}"
        />
        <div class="text-sm font-regular text-justify">
          Create an archive with tags in no time. Keep it private or share
          your archives with the world.
        </div>
      </div>
      <button
        type="button"
        class="w-full inline-flex justify-center px-4 py-2 bg-lblue hover:bg-black text-white font-medium sm:w-auto text-sm"
        onclick=""
      >
        LEKHA for Artists&nbsp;→
      </button>
    </div>
    <div
      class="w-full flex flex-col space-y-4 justify-between bg-lbg2 p-8"
    >
      <div class="flex flex-col space-y-2">
        <div class="text-md font-medium">As an Institution</div>
        <img
          class="w-full"
          src="{% static 'main/asAnInstitution.jpeg' %}"
        />
        <div class="text-sm font-regular text-justify">
          Add metadata with little effort. Translate between standards or
          make your own standard. Keep files in safe, secure archives.
          Share your archives and allow everyone to go through your
          archives in a fun, educational manner.
        </div>
      </div>
      <button
        type="button"
        class="w-full inline-flex justify-center px-4 py-2 bg-lblue hover:bg-black text-white font-medium sm:w-auto text-sm"
        onclick=""
      >
        LEKHA for Institutions&nbsp;→
      </button>
    </div>
  </div>
</div>

<!-- Final sign up banner -->
<div class="w-full bg-lbg1 flex flex-col md:flex-row p-8 items-center">
  <div class="w-full md:w-1/2 text-xl sm:text-4xl">
    Ready to share your work with the world?
  </div>
  <div class="w-full md:w-1/2 py-8 md:pl-8">
    <button
      type="button"
      class="w-full inline-flex justify-center px-4 py-4 bg-lblue hover:bg-black text-white font-medium text-md sm:text-lg"
      onclick=""
    >
      Get started with LEKHA&nbsp;→
    </button>
  </div>
</div>

<!-- Footer -->
<div class="w-full bg-black p-8 text-white">
  <div class="w-1/2 flex flex-row justify-start">
    <div class="w-1/2 flex flex-col space-y-2">
      <div class="text-xs font-bold">LEKHA</div>
      <a href="/about/" class="text-xs font-light">About Us</a>
      <a href="/features/" class="text-xs font-light">Features</a>
      <a href="/partners/" class="text-xs font-light">Partners</a>
    </div>
    <div class="w-1/2 flex flex-col space-y-2">
      <div class="text-xs font-bold">Support</div>
      <a href="/report/" class="text-xs font-light">Report a bug</a>
      <a href="/contact/" class="text-xs font-light">Contact Us</a>
    </div>
  </div>
  <div class="pt-8">
    <a
      href="https://www.instagram.com/lekha.cc/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        style="fill: #fff"
      >
        <path
          d="M 8 3 C 5.243 3 3 5.243 3 8 L 3 16 C 3 18.757 5.243 21 8 21 L 16 21 C 18.757 21 21 18.757 21 16 L 21 8 C 21 5.243 18.757 3 16 3 L 8 3 z M 8 5 L 16 5 C 17.654 5 19 6.346 19 8 L 19 16 C 19 17.654 17.654 19 16 19 L 8 19 C 6.346 19 5 17.654 5 16 L 5 8 C 5 6.346 6.346 5 8 5 z M 17 6 A 1 1 0 0 0 16 7 A 1 1 0 0 0 17 8 A 1 1 0 0 0 18 7 A 1 1 0 0 0 17 6 z M 12 7 C 9.243 7 7 9.243 7 12 C 7 14.757 9.243 17 12 17 C 14.757 17 17 14.757 17 12 C 17 9.243 14.757 7 12 7 z M 12 9 C 13.654 9 15 10.346 15 12 C 15 13.654 13.654 15 12 15 C 10.346 15 9 13.654 9 12 C 9 10.346 10.346 9 12 9 z"
        ></path>
      </svg>
    </a>
  </div>
</div>
</div>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function () {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
</script>
<script>
var current = 0;
var featuredName = ["RAMESH KALKUR", "ABU ABRAHAM"];
var featuredWork = [
  'Series: "The Walk Cycle"',
  'Series: "Sketches from Ukraine and Russia"',
];
var featuredDescription = [
  "Ramesh Kalkur's art is defined by his work as a much loved educator at Srishti. Ramesh originally trained as a painter at the Ken school, M.S.U and the Royal College of Art. The \"whole\" series of photographs comes as a response to the lockdown. Ramesh turns seemingly banal cracks of pavements into something mysterious and alluring. The cracks of a pavement turn from chaos into symmetry. Whole is taken from a series of photographs called The Walk Cycles. These photographs are a reflection of monotonous movement and repetition of thinking pattern. Browse through Ramesh's photographs in his archives.",
  "Attupurathu Mathew Abraham (11 June 1924 – 1 December 2002), pen name Abu, was an Indian cartoonist, journalist, and author. Although Abu gained world wide renown as a cartoonist, his artistic output was far more diverse and fascinating. LEKHA is proud to host the archives of Abu Abraham. Our first series is a collection of drawings and sketches Abu made on his trip to Ukraine and Russia. We hope to host more of his spellbinding and fascinating work that ranges from interviews to animations. Enjoy these rare, never seen before work on LEKHA.",
];
var featuredImage = [
  "{% static 'main/rameshkalkur-featured-tile.jpeg' %}",
  "{% static 'main/abuabraham-featured-tile.jpg' %}",
];

document.getElementById("featuredName").innerHTML = featuredName[current];
document.getElementById("featuredWork").innerHTML = featuredWork[current];
document.getElementById("featuredDescription").innerHTML =
  featuredDescription[current];
document.getElementById("featuredImage").src = featuredImage[current];

function carouselPrev() {
  if (current == featuredName.length - 1) {
    current = current - 1;
  } else if (current == 0) {
    current = featuredName.length - 1;
  } else {
    current--;
  }
  document.getElementById("featuredName").innerHTML =
    featuredName[current];
  document.getElementById("featuredWork").innerHTML =
    featuredWork[current];
  document.getElementById("featuredDescription").innerHTML =
    featuredDescription[current];
  document.getElementById("featuredImage").src = featuredImage[current];
}

function carouselNext() {
  if (current == featuredName.length - 1) {
    current = 0;
  } else if (current == 0) {
    current = current + 1;
  } else {
    current++;
  }
  document.getElementById("featuredName").innerHTML =
    featuredName[current];
  document.getElementById("featuredWork").innerHTML =
    featuredWork[current];
  document.getElementById("featuredDescription").innerHTML =
    featuredDescription[current];
  document.getElementById("featuredImage").src = featuredImage[current];
}
</script>
{% endblock %}