<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LEKHA | Archives for artists, by artists</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Work Sans", sans-serif;
      }
      #menu-toggle:checked + #menu {
        display: block;
      }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              lblue: "#0000ff",
              lbg1: "#c1cfca",
              lbg1hover: "#9dbbb0",
              lbg2: "#e7e0c9",
            },
          },
        },
      };
    </script>
  </head>
  <body>
    <div class="w-screen min-h-full flex flex-col">
      {% if user.is_authenticated %}
      <!-- Header, when signed in -->
      <header
        class="py-2 px-8 border-b bg-white flex flex-wrap items-center fixed z-40 top-0 w-full"
      >
        <div class="flex-1 flex justify-between items-center">
          <a href="/" class="text-lg font-medium">LEKHA</a>
        </div>

        <a class="text-sm font-medium py-2 px-4 block hover:text-lblue" href="/"
          >GO TO DASHBOARD</a
        >

        <label for="menu-toggle" class="cursor-pointer block"
          ><svg
            class="fill-current text-gray-900"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
          >
            <title>menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
          </svg>
        </label>
        <input class="hidden" type="checkbox" id="menu-toggle" />
        <div class="hidden w-full" id="menu">
          <nav>
            <ul class="items-center justify-between text-right text-gray-700">
              <li
                class="text-sm flex flex-row items-center justify-end space-x-1"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-4 w-4"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
                  />
                </svg>
                <div class="py-2 px-0 block">{{ user.get_username }}</div>
              </li>
              <li class="text-sm">
                <a class="py-2 px-0 block hover:text-lblue" href="/dashboard"
                  >DASHBOARD</a
                >
              </li>
              <li class="text-sm">
                <a class="py-2 px-0 block hover:text-lblue" href="/"
                  >YOUR ARCHIVE</a
                >
              </li>
              <li class="text-sm">
                <a class="py-2 px-0 block hover:text-lblue" href="/account_settings"
                  >ACCOUNT SETTINGS</a
                >
              </li>
              <li class="text-sm">
                <a class="py-2 px-0 block hover:text-lblue" href="/">CONNECT</a>
              </li>
              <li class="text-sm">
                <a class="py-2 px-0 block hover:text-lblue" href="/about"
                  >ABOUT</a
                >
              </li>
              <li class="text-sm">
                <a class="py-2 px-0 block hover:text-lblue" href="/logout">LOG OUT</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>

      {% else %}
      <!-- Header, when NOT signed in -->
      <header
        class="py-2 px-8 border-b bg-white flex flex-wrap items-center fixed z-40 top-0 w-full"
      >
        <div class="flex-1 flex justify-between items-center">
          <a href="/" class="text-lg font-medium">LEKHA</a>
        </div>

        <label for="menu-toggle" class="cursor-pointer sm:hidden block"
          ><svg
            class="fill-current text-gray-900"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
          >
            <title>menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
          </svg>
        </label>
        <input class="hidden" type="checkbox" id="menu-toggle" />

        <div class="hidden sm:flex sm:items-center sm:w-auto w-full" id="menu">
          <nav>
            <ul class="sm:flex items-center justify-between text-gray-700">
              <li class="text-sm">
                <a
                  class="py-2 px-0 sm:px-4 block hover:text-lblue"
                  href="/features/"
                  >Features</a
                >
              </li>
              <li class="text-sm">
                <a
                  class="py-2 px-0 sm:px-4 block hover:text-lblue"
                  href="/contact/"
                  >Contact</a
                >
              </li>
              <li class="text-sm">
                <a
                  class="py-2 px-0 sm:px-4 block hover:text-lblue"
                  href="/login"
                  >Log In</a
                >
              </li>
              <li class="text-sm py-2 sm:py-0">
                <a
                  class="hidden sm:block w-full inline-flex justify-center px-4 py-2 bg-lblue hover:bg-black text-white sm:w-auto"
                  href="/register"
                >
                  Get Started
                </a>
                <a
                  class="px-0 sm:px-4 sm:hidden block hover:text-lblue"
                  href="/register"
                  >Get Started</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </header>

      {% endif %} {% block content %} {% endblock %}
      <!-- Footer -->
      <div class="w-full bg-black p-8 text-white mt-auto">
        <div class="w-1/2 flex flex-row justify-start">
          <div class="w-1/2 flex flex-col space-y-2">
            <div class="text-sm font-bold">LEKHA</div>
            <a href="/about/" class="text-sm font-light hover:underline"
              >About Us</a
            >
            <a
              href="https://wiki.lekha.cc/doku.php"
              target="_blank"
              rel="noopener noreferrer"
              class="text-sm font-light hover:underline"
              >Wiki</a
            >
            <a href="/partners/" class="text-sm font-light hover:underline"
              >Partners</a
            >
            <a href="/features/" class="text-sm font-light hover:underline"
              >Features</a
            >
          </div>
          <div class="w-1/2 flex flex-col space-y-2">
            <div class="text-sm font-bold">Support</div>
            <a href="/report/" class="text-sm font-light hover:underline"
              >Report a Bug</a
            >
            <a href="/contact/" class="text-sm font-light hover:underline"
              >Contact Us</a
            >
          </div>
        </div>
        <div class="pt-8 flex flex-row space-x-4">
          <a
            href="https://www.instagram.com/lekha.cc/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              style="fill: #fff"
            >
              <path
                d="M 8 3 C 5.243 3 3 5.243 3 8 L 3 16 C 3 18.757 5.243 21 8 21 L 16 21 C 18.757 21 21 18.757 21 16 L 21 8 C 21 5.243 18.757 3 16 3 L 8 3 z M 8 5 L 16 5 C 17.654 5 19 6.346 19 8 L 19 16 C 19 17.654 17.654 19 16 19 L 8 19 C 6.346 19 5 17.654 5 16 L 5 8 C 5 6.346 6.346 5 8 5 z M 17 6 A 1 1 0 0 0 16 7 A 1 1 0 0 0 17 8 A 1 1 0 0 0 18 7 A 1 1 0 0 0 17 6 z M 12 7 C 9.243 7 7 9.243 7 12 C 7 14.757 9.243 17 12 17 C 14.757 17 17 14.757 17 12 C 17 9.243 14.757 7 12 7 z M 12 9 C 13.654 9 15 10.346 15 12 C 15 13.654 13.654 15 12 15 C 10.346 15 9 13.654 9 12 C 9 10.346 10.346 9 12 9 z"
              ></path>
            </svg>
          </a>

          <a
            href="https://github.com/theisro/LEKHA"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="22"
              height="22"
              viewBox="0 0 24 24"
              style="fill: #fff"
            >
              <path
                d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
