<html lang="en">
  <head>
    <title>LEKHA | Partners</title>
  </head>
</html>
{% extends 'navbar.html' %} {% block content %} {% load static %}
<div class="px-8 pt-16 text-md sm:text-lg font-regular">
  LEKHA is a project by the Software Design Research group at The Indian Sonic
  Research Organisation (<a
    href="https://www.theisro.org/"
    target="_blank"
    rel="noopener noreferrer"
    class="text-lblue hover:underline"
    >TheISRO</a
  >). LEKHA is supported by the
  <a
    href="https://www.goethe.de/ins/in/en/sta/ban.html"
    target="_blank"
    rel="noopener noreferrer"
    class="text-lblue hover:underline"
    >Goethe-Institut / Max Mueller Bhavan Bangalore</a
  >
  and
  <a
    href="https://artscienceblr.org/"
    target="_blank"
    rel="noopener noreferrer"
    class="text-lblue hover:underline"
    >(Art)ScienceBLR</a
  >.
</div>
<div class="w-full p-8 flex flex-col sm:flex-row justify-between">
  <img
    class="h-48 w-48 m-auto sm:m-none"
    src="{% static 'main/logo_theISRO.jpg' %}"
  />
  <img
    class="h-48 w-48 m-auto sm:m-none"
    src="{% static 'main/logo_goethe.jpg' %}"
  />
  <img
    class="h-48 w-48 m-auto sm:m-none"
    src="{% static 'main/logo_artScienceBlr.jpg' %}"
  />
</div>
{% endblock %}
