{% for folder, info in fileSystemParse %}
    {% if info.open %}
        <ul><li>
    {% else %}
        </li><li>
    {% endif %}

    <span>{{ info.divider }}</span>{{ folder }}

    

    <a href="/dashboard/add_folder/{{ folder.pk }}" style="color:green">add child</a>

    
    <a href="/dashboard/add_work/{{ folder.pk }}" style="color:blue">Add work</a>

    <span hx-delete="{% url 'delete_folder' folder.pk %}" hx-target="#folder_view" hx-confirm="Are you sure you wish to delete this folder?" style="color:red; cursor: pointer">delete</span>

    {% if info.open %}
        <ul>
    {% endif %}

    {% if info.close %}
        </ul>
    {% endif %}
    

    {% if info.close %}
        </li></ul>
    {% endif %}

    {% for work, work_info in info.works %}
        <ul><li>
            <span>{{ work_info.divider }}</span><a href="/work/{{ work.work_slug }}" style="color: brown;">Work: {{ work.name }}</a> <span hx-delete="{% url 'delete_work' work.pk %}" hx-target="#folder_view" hx-confirm="Are you sure you wish to delete this work?" style="color:red; cursor: pointer">delete</span>

        </li></ul>
    {% endfor %}



    <!-- {% for close in info.close %}
        </li></ul>
    {% endfor %} -->
{% endfor %}